# SMTP configuration for email notifications
SMTP_HOST=smtp-auth.mailprotect.be
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@parasols-xl.nl
SMTP_PASS=
SMTP_FROM=info@parasols-xl.nl
SMTP_FROM_NAME=Solero Configurator
SMTP_TO=info@parasols.nl
CRON_TOKEN=CONFIGURATORMAIL
